/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */
body {
  background: #4B79A1; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #4B79A1 , #283E51); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #4B79A1 , #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $gray-lighter;
}

figcaption {
padding: 10px;
}

// Paddings
.padded {
  padding-top: 4em;
  padding-bottom: 0.75em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

/* Index-page flex-box */
.index-flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Index-page flex-item */
.index-flex-item {
  flex: 0 0 auto;
}

/* Contact-page flex-box */
.contact-flex-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* Contact-page flex-item */
.contact-flex-item {
  flex: 1 0 auto;
}
/* .container {
  width: 100%;
} */

/* Extra small devices (phones, less than 768px)
No media query since this is the default in Bootstrap

Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) { ... }

Medium devices (desktops, 992px and up)
@media (min-width: @screen-md-min) { ... }

Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) { ... }
 */
