/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */



// Form font color
.form-control {
  color: $gray-lighter;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

//colorful skill's bargraph

.bargraph {
    list-style: none;
    padding-top: 20px;
    width:560px;
    }

ul.bargraph li {
    height: 35px;
    color: white;
    text-align: left;
    font-style: italic;
    font-weight:bolder;
    font-size: 14px;
    line-height: 35px;
    padding: 0px 20px;
    margin-bottom: 5px;
    }

ul.bargraph li.barfill {
background: rgba(0,0,0,0.333);
width:100%;
}

ul.bargraph li.redpink {
background: #EF465B;
width:95%;
}

ul.bargraph li.pink {
background: #E55A6B;
width:93%;
}

ul.bargraph li.orangered {
background: #E28159;
width:85%;
}

ul.bargraph li.orange {
background: #F99C1C;
width:75%;
}

ul.bargraph li.yellow {
background: #F4D41E;
width:74%;
}

ul.bargraph li.green {
background: #97B546;
width:55%;
}

ul.bargraph li.greenbright {
background: #36B669;
width:40%;
}

ul.bargraph li.greenblue {
background: #42BDA5;
width:30%;
}

ul.bargraph li.blue {
background: #00AEEF;
width:30%;
}

ul.bargraph li.xaxis {
background: url(../images/x-axis.jpg);
height: 49px;
}

ul.bargraph li.xaxis {
background: url(../images/x-axis.jpg);
height: 49px;
}

