<div class="navbar-wagon">
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <!-- Text link -->
    <small class="navbar-wagon-item">Copyright &copy; 2017 Gregory Griffin. All Rights Reserved.</small>


  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <small class="navbar-wagon-item">Copyright &copy; 2017 Gregory Griffin. All Rights Reserved.</small>
        </li>
      </ul>
    </div>
  </div>
</div>
