<div class="navbar-wagon navbar-static-bottom">
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <!-- Text link -->
    <small class="navbar-wagon-item">Copyright &copy; 2017 Gregory Griffin. All Rights Reserved.</small>
  </div>


  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-right hidden-md hidden-lg">
    <small class="navbar-wagon-item">Copyright &copy; 2017 Gregory Griffin. All Rights Reserved.</small>
  </div>
</div>
