<div class="navbar-wagon navbar-static-bottom">
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- Text link -->
    <p><small class="navbar-wagon-item"><small>Copyright &copy; 2017 Gregory Griffin. All Rights Reserved.</small></small></p>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-right hidden-md hidden-lg">
    <p><small class="navbar-wagon-item"><small>Copyright &copy; 2017 Gregory Griffin. All Rights Reserved.</small></small></p>
  </div>
</div>
