---
title: About
---
<div class="padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h1>About</h1>
        <br>
        <p class="lead">I am a full stack developer, Los Angeles native with a positive personality, who is passionate about learning various aspects of application development and challenging myself. I love learning new programming languages, and the latest development and design concepts. UI and UX are important factors to consider when creating an application. Also, I enjoy working a part of a team; however, I am perfectly capable of working on projects autonomously.</p>
       <!--  <h2>Website Design Workflow</h2>
       <p>Discover | Design | Develope</p> -->
      </div>
      <br>
      <br>
      <div class="col-xs-12 col-sm-6">
        <div class="visible-xs-block visible-sm-block hidden-md">
          <h2>Main Skills</h2>
          <div class="lead">
          <p>HTML, CSS, Bootstrap, JavaScript, jQuery, SQL, git, GitHub, Heroku, Ruby on Rails</p>
            <!-- <p>HTML</p>
            <p>CSS</p>
            <p>Bootstrap</p>
            <p>JavaScript</p>
            <p>jQuery</p>
            <p>SQL</p>
            <p>git</p>
            <p>GitHub</p>
            <p>Heroku</p>
            <p>Ruby on Rails</p> -->
          </div>
        </div>

        <ul class="bargraph hidden-xs hidden-sm visible-md-block visible-lg-block">
          <li class="barfill">HTML</li>
          <li class="barfill">CSS</li>
          <li class="barfill">Bootstrap</li>
          <li class="barfill">JavaScript</li>
          <li class="barfill">jQuery</li>
          <li class="barfill">SQL</li>
          <li class="barfill">git</li>
          <li class="barfill">GitHub</li>
          <li class="barfill">Heroku</li>
          <li class="barfill">Ruby on Rails</li>
          <li class="xaxis"></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- <div class="skills-wrapper flex row-gt-sm">
        <div class="flex flex-50-gt-sm waypoint animated slide-in-left" data-animation="slide-in-left">
          <img src="img/me.png" class="me">
          <div><img class="up-arrow" src="img/up-arrow.png"></div>
          <div class="label bold">Who's this guy?</div>
          <div>
            I'm the Front-End Developer for <a class="highlight" href="http://www.eyecuelab.com" target="_blank">EyeCue Lab</a> in Portland, OR.
            <br>
            I have serious passion for UI effects, animations and creating intuitive, dynamic user experiences.
            <br>
            <span class="page-link highlight" dest="contact">Let's make something special.</span>
          </div>
        </div>

        <div class="flex flex-50-gt-sm waypoint bars-wrap animated slide-in-right" data-animation="slide-in-right">
          <div class="bar flex">
            <div class="bar fill" style="width:75%">
              <div class="tag bold flex">CSS</div>
            </div>
            <span>80%</span>
          </div>

          <div class="bar flex">
            <div class="bar fill" style="width:85%">
              <div class="tag bold flex">HTML</div>
            </div>
            <span>90%</span>
          </div>


          <div class="bar flex">
            <div class="bar fill" style="width:65%">
              <div class="tag bold flex">React</div>
            </div>
            <span>70%</span>
          </div>

          <div class="bar flex">
            <div class="bar fill" style="width:80%">
              <div class="tag bold flex">JavaScript</div>
            </div>
            <span>80%</span>
          </div>

          <div class="bar flex">
            <div class="bar fill" style="width:65%">
              <div class="tag bold flex">Angular</div>
            </div>
            <span>70%</span>
          </div>

          <div class="bar flex">
            <div class="bar fill" style="width:55%">
              <div class="tag bold flex">Node.js</div>
            </div>
            <span>50%</span>
          </div>


          <div class="bar flex">
            <div class="bar fill" style="width:65%">
              <div class="tag bold flex">Ruby/Rails</div>
            </div>
            <span>70%</span>
          </div>

          <div class="bar flex">
            <div class="bar fill" style="width:55%">
              <div class="tag bold flex">UI Design</div>
            </div>
            <span>50%</span>
          </div>

          <div class="bar flex">
            <div class="bar fill" style="width:60%">
              <div class="tag bold flex">Photoshop</div>
            </div>
            <span>60%</span>
          </div>

          <div class="bar flex">
            <div class="bar fill" style="width:45%">
              <div class="tag bold flex">Illustrator</div>
            </div>
            <span>40%</span>
          </div>

        </div>
      </div>
 -->
