<!--Define a container-->
<div class="padded">
  <!--Define a container-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h1>Contact</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p class="lead">griffin@example.com</p>
        <ul class="list-inline">
          <li>
            <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
          </li>
          <li><i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          </li>
          <li><i class="fa fa-github fa-2x" aria-hidden="true"></i>
          </li>
        </ul>
        <br>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Send me a message</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, aperiam. Officiis optio, eaque rem dolores, accusantium qui. Ad tempore, tenetur sint repellendus, obcaecati sit? Nulla officiis tempore in voluptas temporibus!</p>
        <br>

        <!--Contact form-->
        <form action="https://formspree.io/mr.gregory.griffin@gmail.com"
        method="POST">
        <div class="form-group">
          <label for="text">Name</label>
          <input style="background: rgba(0,0,0,0.3);" id="text" class="form-control" type="text" name="name" placeholder="Your name">
        </div>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input style="background: rgba(0,0,0,0.3);" id="email" class="form-control" type="email" name="email" placeholder="Your email">
        </div>
        <div class="form-group">
          <label for="message">Message...</label>
          <textarea style="background: rgba(0,0,0,0.3);" id="message" class="form-control" name="message" placeholder="Message..."></textarea>
        </div>
        <button style="background: rgba(0,0,0,0.3);" class="btn btn-primary" type="submit">Send message</button>
        </form>
      </div>
    </div>
  </div>
</div>
