<!--Define a container-->
<div class="padded">
  <!--Define a container-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h1>Contact</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur.</p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur.</p>
        <p class="lead"><% link_to "/" do %>griffin@example.com<% end %></p>
        <ul class="list-unstyled contact-flex-box">
          <li class="h3 contact-flex-item">
            <!-- Text link -->
            <% link_to "https://www.linkedin.com/in/gregoryvangriffin/" do %>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <% end %>
          </li>
          <li class=" h3 contact-flex-item">
            <!-- Text link -->
            <% link_to "https://twitter.com/M_Gryphonn" do %>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <% end %>
          </li>
          <li class="h3 contact-flex-item">
            <!-- Text link -->
            <% link_to "https://github.com/m-gryphon" do %>
            <i class="fa fa-github" aria-hidden="true"></i>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3>Send me a message</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, aperiam. Officiis optio, eaque rem dolores, accusantium qui. Ad tempore, tenetur sint repellendus, obcaecati sit? Nulla officiis tempore in voluptas temporibus!</p>
        <br>
        <!--Contact form-->
        <form action="https://formspree.io/mr.gregory.griffin@gmail.com"
        method="POST">
        <div class="form-group">
          <label for="text">Name</label>
          <input style="background: rgba(0,0,0,0.3);" id="text" class="form-control" type="text" name="name" placeholder="Your name">
        </div>
        <div class="form-group">
          <label for="email">Email Address</label>
          <input style="background: rgba(0,0,0,0.3);" id="email" class="form-control" type="email" name="email" placeholder="Your email">
        </div>
        <div class="form-group">
          <label for="message">Message...</label>
          <textarea style="background: rgba(0,0,0,0.3);" id="message" class="form-control" name="message" placeholder="Message..."></textarea>
        </div>
        <button style="background: rgba(0,0,0,0.3);" class="btn btn-primary" type="submit">Send message</button>
        </form>
        <br>
      </div>
    </div>
  </div>
</div>
