<div class="wrapper">

  <!--Define a container-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <!--Define a container-->
        <div class="welcome text-center padded">
          <h1>Full Stack Web Developer</h1>
          <p class="doc">
            <%= link_to "Contact me <br> Email: mr.gregory.griffin@gmail.com", "http://middlemanapp.com/" %>

          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">

      </div>
    </div>
  </div>
</div>
