---
title: Portfolio 2017
---
<div class="padded text-center hidden-sm hidden-md hidden-lg">
  <!--Define a container-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <br>
        <br>
        <h1>Gregory van Griffin
          <br>
          <small>Full Stack Developer</small>
        </h1>
        <br>
        <hr>
        <ul class="list-unstyled">
          <li class="h2">
            <!-- Text link -->
            <% link_to "about.html", class: "index-flex-box" do %>
            <i class="fa fa-file-code-o index-flex-item" aria-hidden="true"></i>
            About
            <i style="font-size: 36px;" class="material-icons">keyboard_arrow_right</i>
            <% end %>
          </li>
          <hr>
          <li class="h2">
            <!-- Text link -->
            <% link_to "portfolio.html", class: "index-flex-box" do %>
            <i class="fa fa-laptop index-flex-item" aria-hidden="true"></i>
            Portfolio
            <i style="font-size: 36px;" class="material-icons">keyboard_arrow_right</i>
            <% end %>
          </li>
          <hr>
          <li class="h2">
            <!-- Text link -->
            <% link_to "contact.html", class: "index-flex-box" do %>
            <i class="fa fa-envelope-o index-flex-item" aria-hidden="true"></i>
            Contact
            <i style="font-size: 36px;" class="material-icons">keyboard_arrow_right</i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- Home page for non-mobile devices -->
<div class="banner hidden-xs">
  <!--Define a container-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">

        <!-- Background appearing on sm-md-lg devices -->
        <div>
          <div class="banner-content">
            <h1>Gregory van Griffin</h1>
            <h2>Full Stack Developer</h2>

            <% link_to "contact.html" do %>
              <h2 class="btn btn-home btn-lg"><strong>Contact</strong></h2>
              <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
