---
title: Le Wagon Middleman boilerplate
---
<div class="wrapper">

  <!--Define a container-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <!--Define a container-->
        <div class="welcome text-center padded">
          <h1>Full Stack Web Developer</h1>
          <p class="doc">
            <%= link_to "What I do", "about.html" %>

          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">

      </div>
    </div>
  </div>
</div>


