---
title: Portfolio 2017
---
<!--Define a container-->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="padded text-center">
        <!--Define a container-->
<<<<<<< HEAD
<<<<<<< Updated upstream
        <div class="welcome text-center padded">
=======
>>>>>>> Stashed changes
=======
        <div class="padding">
>>>>>>> 8ea2af007ccb6e70f49fc786426e5f94293d2d08
          <h1>Full Stack Developer</h1>
          <hr>
          <div>
          <h2>
            <%= link_to "About", "about.html" %>
<<<<<<< HEAD
<<<<<<< Updated upstream
          </p>
=======
          </h2>
          <i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i>
          </div>
>>>>>>> Stashed changes
=======
          </h2>
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
>>>>>>> 8ea2af007ccb6e70f49fc786426e5f94293d2d08
          <hr>
          <h2>
            <%= link_to "Portfolio", "portfolio.html" %>
<<<<<<< HEAD
<<<<<<< Updated upstream
          </p>
=======
          </h2>
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
>>>>>>> 8ea2af007ccb6e70f49fc786426e5f94293d2d08
          <hr>
          <h2 class="doc">
            <%= link_to "Contact", "contact.html" %>
<<<<<<< HEAD
          </p>
=======
          </h2>
          <i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i>
          <hr>
          <h2>
            <%= link_to "Contact", "contact.html" %>
          </h2>
          <i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i>
>>>>>>> Stashed changes
=======
          </h2>
          <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
>>>>>>> 8ea2af007ccb6e70f49fc786426e5f94293d2d08
        </div>
      </div>
    </div>
  </div>
</div>


