---
title: Portfolio 2017
---
<!--Define a container-->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="padded text-center">
          <h1>Full Stack Developer</h1>
          <hr>
          <h2>
            <%= link_to "About", "about.html" %>
          </h2>
          <i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i>
          <hr>
          <h2>
            <%= link_to "Portfolio", "portfolio.html" %>
          </h2>
          <i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i>
          <hr>
          <h2 class="doc">
            <%= link_to "Contact", "contact.html" %>
          </h2>
          <i class="fa fa-chevron-circle-right fa-2x" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>

