---
title: Le Wagon Middleman boilerplate
---
<div class="wrapper">

  <!--Define a container-->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <!--Define a container-->
        <div class="welcome text-center padded">
          <h1>Full Stack Developer</h1>
          <br>
          <hr>
          <h2 class="doc">
            <%= link_to "About", "about.html" %>
          </p>
          <hr>
          <h2 class="doc">
            <%= link_to "Portfolio", "portfolio.html" %>
          </p>
          <hr>
          <p class="doc">
            <%= link_to "Contact", "contact.html" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


