  <div class="padding-portfolio">
    <div class="container">
      <h2>Realizations</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <% link_to "http://www.bookaround.org/", class: "card-portfolio" do %>
          <%= image_tag "bookaround-small.png", class: "img-responsive img-rounded" %>
          <% end %>
        </div>
        <div class="col-xs-12 col-sm-6">
          <% link_to "http://www.gregoryvangriffin.com/", class: "card-portfolio" do %>
          <%= image_tag "sky-banner-screen-shot.png", class: "img-responsive img-rounded" %>
          <% end %>
        </div>
        <!-- <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-portfolio img-rounded">
            <% link_to "http://www.bookaround.org/" do %>
            <%= image_tag "laboratory-small.jpeg", class: "img-responsive" %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-portfolio img-rounded">
            <% link_to "http://www.bookaround.org/" do %>
            <%= image_tag "construction-small.jpeg", class: "img-responsive" %>
            <% end %>
          </div>
        </div> -->
      </div>
    </div>
  </div>
