 <!--Define a container-->
  <div class="container">
    <div class="row">
      <div  class="col-xs-12 col-sm-6 col-md-4">

        <!--Define a container-->
        <div class="card welcome text-left padded">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis non, earum voluptas repellendus in perspiciatis veniam id explicabo officiis laudantium beatae sequi, sapiente, quasi pariatur quisquam laboriosam suscipit cupiditate atque.</p>

        </div>
      </div>
      <div  class="col-xs-12 col-sm-6 col-md-4">
        <div class="card welcome text-left padded">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, aperiam. Officiis optio, eaque rem dolores, accusantium qui. Ad tempore, tenetur sint repellendus, obcaecati sit? Nulla officiis tempore in voluptas temporibus!</p>
        </div>
      </div>
      <div  class="col-xs-12 col-sm-6 col-md-4">

        <!--Define a container-->
        <div class="card welcome text-left padded">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis non, earum voluptas repellendus in perspiciatis veniam id explicabo officiis laudantium beatae sequi, sapiente, quasi pariatur quisquam laboriosam suscipit cupiditate atque.</p>

        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card welcome text-left padded">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, aperiam. Officiis optio, eaque rem dolores, accusantium qui. Ad tempore, tenetur sint repellendus, obcaecati sit? Nulla officiis tempore in voluptas temporibus!</p>
        </div>
      </div>
      <div  class="col-xs-12 col-sm-6 col-md-4">

        <!--Define a container-->
        <div class="card welcome text-left padded">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis non, earum voluptas repellendus in perspiciatis veniam id explicabo officiis laudantium beatae sequi, sapiente, quasi pariatur quisquam laboriosam suscipit cupiditate atque.</p>

        </div>
      </div>
      <div  class="col-xs-12 col-sm-6 col-md-4">
        <div class="card welcome text-left padded">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, aperiam. Officiis optio, eaque rem dolores, accusantium qui. Ad tempore, tenetur sint repellendus, obcaecati sit? Nulla officiis tempore in voluptas temporibus!</p>
        </div>
      </div>
    </div>
  </div>

