<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-portfolio img-rounded">
        <a href="http://www.bookaround.org/" target="_blank">
          <figure>
            <img class="img-responsive" src="https://unsplash.it/1000/?random
            " alt="Lights">
          </figure>
          <figcaption>
            <h2>BookAround</h2>
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </figcaption>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-portfolio img-rounded">
        <a href="gregoryvangriffin.com" target="_blank">
          <figure>
            <img class="img-responsive" src="https://unsplash.it/1000/?random
            " alt="Nature">
          </figure>
          <figcaption>
            <h2>Portfolio2017</h2>
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </figcaption>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-portfolio img-rounded">
        <a href="#" target="_blank">
          <figure>
            <img class="img-responsive" src="https://unsplash.it/1000/?random" alt="Fjords">
          </figure>
          <figcaption>
            <h2>Code2017</h2>
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </figcaption>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-portfolio img-rounded">
        <a href="#" target="_blank">
          <figure>
            <img class="img-responsive" src="https://unsplash.it/1000/?random" alt="Fjords">
          </figure>
          <figcaption>
            <h2>Project Four</h2>
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </figcaption>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-portfolio img-rounded">
        <a href="#" target="_blank">
          <figure>
            <img class="img-responsive" src="https://unsplash.it/1000/?random" alt="Fjords">
          </figure>
          <figcaption>
            <h2>Project Five</h2>
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </figcaption>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card-portfolio img-rounded">
        <a href="#" target="_blank">
          <figure>
            <img class="img-responsive" src="https://unsplash.it/1000/?random" alt="Fjords">
          </figure>
          <figcaption>
            <h2>Project Six</h2>
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </figcaption>
        </a>
      </div>
    </div>
  </div>
</div>
